/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #bbb;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4d3664, #bab5f6);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

/* Footer Styling */
footer {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgba(26, 23, 32, 0.7); /* Transparent background */
    color: #bbb;
    font-size: 0.9em;
    position: fixed; /* Fixed position at the bottom of the viewport */
    bottom: 0; /* Aligns to the bottom */
    left: 0;
    z-index: 1;
}

.footer-links a {
    color: #bbb;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffffff;
}

/* Tree background effect */
.tree {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 300px;
    background-image: url('./images/IMG.png');
    background-size: cover;
    opacity: 0.15;
    z-index: -1;
}

h1 {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3em;
    margin: 50px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for scroll layout */
    gap: 22px;
    width: 100%;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 200px; /* Set max-width for better scaling */
    height: 320px;
    background-color: rgba(26, 23, 32, 0.7);
    border-radius: 12px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    opacity: 0.7;
    margin: auto;
}

.card:hover {
    transform: translateY(-15px);
    background-color: #1a1720;
    opacity: 1;
    transition: 0.4s;
}

.card:hover * {
    color: #fff;
}

/* Rest of the styling remains unchanged */